/* adapted from: https://codepen.io/placenamehere/pen/ZBQrzm */

td{ 
    text-align: left; 
    padding: 0; 
    margin: 0;
}
th{ 
    height:160px;  
    font-size: 12px;
    vertical-align: bottom; 
    /* padding: 10px 5px 0;  */
    padding-bottom: 20px;
    font-weight: 200;
    min-width: 2em;
    max-width: 2em;
}
th span { 
    writing-mode: vertical-rl; /* +90°: use 'tb-rl' */
    transform: rotate(180deg);
    text-align: left;          /* +90°: use 'right' */
}
tr{
    font-size: 12px;
    padding:0px;
}
table{
    border-collapse: collapse;
    width:500px;
    padding:0px;
}
tbody tr td:first-child {
    text-align: right; 
    min-width: 17em;
    padding-right:20px
}
.categories th{
    font-weight: bold;
    /* margin:20px; */
    padding:0px;
    height: auto;
}
table .pad{
    padding-right: 20px;
}
tbody td{
    padding-left:5px;
}