@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Rokkitt:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Roboto:300italic);

/* adapted from: https://codepen.io/placenamehere/pen/ZBQrzm */

/* 
th{ 
    height:160px;  
    font-size: 12px;
    vertical-align: bottom; 
    padding-bottom: 20px;
    font-weight: 200;
    min-width: 2em;
    max-width: 2em;
} */
/* th span { 
    writing-mode: vertical-rl; 
    transform: rotate(225deg);
    text-align: left;         
} */
/* tr{
    font-size: 12px;
    padding:0px;
}
table{
    border-collapse: collapse;
    width:500px;
    padding:0px;
} */

html {
    scroll-behavior: smooth;
}

#referenceList{
    margin-top:100px;
}

#referenceList .citation{
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.4;
}


.objecttable{
    font-family: "Roboto Slab", Trebuchet, sans-serif;
}

.objecttable{
    border-spacing: 0px;
}

.objecttable td{ 
    text-align: left; 
    padding: 0; 
    margin: 0;
}

.objecttable tbody tr td:first-child {
    text-align: right; 
    min-width: 17em;
    padding-right:20px;
    font-size: 12px;
}
.objecttable tbody tr .literature_col{
    /* color:black; */
    text-decoration: none;
}
/* .objecttable tbody tr td:last-child {
    display: none;
} */

.objecttable .categories th{
    font-weight: bold;
    padding:0px;
    padding-bottom:20px;
    height: auto;
}

.objecttable .pad{
    padding-right: 20px !important;
}
/* .objecttable tbody td{
    padding-left:5px;
} */


/* adapted from: https://www.jimmybonney.com/articles/column_header_rotation_css/*/
.table-header-rotated th.row-header{
    width: auto;
  }
  
  .table-header-rotated td{
    padding:0px;
    width: 40px;
    vertical-align: middle;
    /* text-align: center; */
  }
  
  .table-header-rotated th.rotate-45{
    height: 200px;
    width: 40px;
    min-width: 40px;
    max-width: 40px;
    position: relative;
    vertical-align: bottom;
    padding: 0;
    font-size: 12px;
    line-height: 1.0; /*0.8;*/
    /* left: 40px; /*corresponds to one cell width     */
    bottom:10px;
  }
  
  .table-header-rotated th.rotate-45 > div{
    position: relative;
    top: 0px;
    left: 60px; /* 80 * tan(45) / 2 = 40 where 80 is the height on the cell and 45 is the transform angle*/
    /* height: 100%; */
    height:170px;
    -ms-transform:skew(-45deg,0deg);
    -moz-transform:skew(-45deg,0deg);
    -webkit-transform:skew(-45deg,0deg);
    -o-transform:skew(-45deg,0deg);
    transform:skew(-45deg,0deg);
    overflow: hidden;
  }
  
  .table-header-rotated th.rotate-45 span {
    -ms-transform:skew(45deg,0deg) rotate(315deg);
    -moz-transform:skew(45deg,0deg) rotate(315deg);
    -webkit-transform:skew(45deg,0deg) rotate(315deg);
    -o-transform:skew(45deg,0deg) rotate(315deg);
    transform:skew(45deg,0deg) rotate(315deg);
    position: absolute;
    bottom: 60px; /* 40 cos(45) = 28 with an additional 2px margin*/
    left: -63px; /*Because it looked good, but there is probably a mathematical link here as well*/
    display: inline-block;
    width: 170px;/*85px;*/ /* 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
    text-align: left;
    /* white-space: nowrap; */
  }

  /* .cbFilter, .table-header-rotated th.rotate-45 img{
      transform: rotate(45deg);
  } */